---
image:
title_attribute: title
---
@using RazorLight
@using System
@using System.Linq
@using System.Collections.Generic
@using Xarial.Docify.Lib.Tools
@using Xarial.Docify.Base.Context
@inherits TemplatePage<Xarial.Docify.Base.Context.IIncludeContextModel>
@{
    var img = Model.Site.MainPage.Data.GetOrDefault<string>("image-png");

    if (string.IsNullOrEmpty(img)) 
    { 
        img = Model.Site.MainPage.Data.GetOrDefault<string>("image");
    }

    if (!string.IsNullOrEmpty(img))
    {
        img = Model.Site.BaseUrl + img;
    }

    var pages = PageHelper.GetAllPages(Model.Site.MainPage).Where(p => !p.Data.ContainsKey("sitemap") || p.Data.Get<bool>("sitemap"));

    bool HasPubDate(IContextPage page, out DateTime date)
    {
        if (page.Data.ContainsKey("date"))
        {
            date = DateTime.Parse(page.Data.GetOrDefault<string>("date"));
            return true;
        }
        else
        {
            date = default(DateTime);
            return false;
        }
    }
}
<title>@PageHelper.GetTitle(Model.Site.MainPage, Model.Data)</title>
<description>@(Model.Site.MainPage.Data.GetOrDefault<string>("description"))</description>
@Raw($"<link>{Model.Site.BaseUrl}</link>")
@if (!string.IsNullOrEmpty(img))
{
    <image>
        <url>@img</url>
        <title>@PageHelper.GetTitle(Model.Site.MainPage, Model.Data)</title>
        @Raw($"<link>{Model.Site.BaseUrl}</link>")
    </image>
}
<lastBuildDate>@DateTime.UtcNow.ToString("r")</lastBuildDate>
<atom:link href="@Model.Site.BaseUrl/feed.xml" rel="self" type="application/rss+xml" />
@foreach (var page in pages)
{
    <item>
        <title>@PageHelper.GetTitle(page, Model.Data)</title>
        <description>@(page.Data.GetOrDefault<string>("description"))</description>
        @Raw("<link>")@(page.FullUrl)@Raw("</link>")
        <guid isPermaLink="true">@(page.FullUrl)</guid>
        @if (HasPubDate(page, out DateTime pubDate)) 
        {
        <pubDate>@pubDate.ToString("r")</pubDate>
        }
        @{
            var categories = page.Data.GetOrDefault<IEnumerable<dynamic>>("categories");
            if (categories == null)
            {
                categories = Enumerable.Empty<dynamic>();
            }
        }
        @foreach (var category in categories)
        {
            <category>@category</category>
        }
    </item>
}
