---
icon_width: 75px
show_title: true
---
@using RazorLight
@inherits TemplatePage<Xarial.Docify.Base.Context.IContextModel>
@{ 
    var logo = Model.Site.MainPage.Data.GetOrDefault<string>("image");
    if (!string.IsNullOrEmpty(logo) && !logo.StartsWith("/"))
    {
        logo = "/" + logo;
    }
    
    var title = Xarial.Docify.Lib.Tools.PageHelper.GetCaption(Model.Site.MainPage, Model.Site.Configuration)?.ToUpper();
    var description = Model.Site.MainPage.Data.GetOrDefault<string>("description");
    var iconWidth = Model.Data.Get<string>("icon_width");
    var showTitle = Model.Data.Get<bool>("show_title");
    if (!showTitle)
    {
        title = "";
    }
}

<div class="header">
    <div class="header-icon"><a href="/"><img src="@logo" width="@iconWidth" alt="@title"/></a></div>
    <div class="header-title">@title</div>
    <div class="header-description">@description</div>
</div>
