---
linkedin:
facebook:
pinterest:
reddit:
github:
youtube:
nuget:
twitter:
rss:
email:
color:
---
@using RazorLight
@using System
@inherits TemplatePage<Xarial.Docify.Base.Context.IContextModel>
@{
    var color = Model.Data.Get<string>("color");

    var linkedinColor = "#0077B5";
    var facebookColor = "#1877F2";
    var pinterestColor = "#BD081C";
    var redditColor = "#FF4500";
    var githubColor = "#181717";
    var youtubeColor = "#FF0000";
    var nugetColor = "#004880";
    var twitterColor = "#1DA1F2";
    var rssColor = "#FFA500";
    var emailColor = "#527dd5";

    if (!string.IsNullOrEmpty(color))
    {
        linkedinColor = color;
        facebookColor = color;
        pinterestColor = color;
        redditColor = color;
        githubColor = color;
        youtubeColor = color;
        nugetColor = color;
        twitterColor = color;
        rssColor = color;
        emailColor = color;
    }

    var linkedinLink = Model.Data.Get<string>("linkedin");
    var facebookLink = Model.Data.Get<string>("facebook");
    var pinterestLink = Model.Data.Get<string>("pinterest");
    var redditLink = Model.Data.Get<string>("reddit");
    var githubLink = Model.Data.Get<string>("github");
    var youtubeLink = Model.Data.Get<string>("youtube");
    var nugetLink = Model.Data.Get<string>("nuget");
    var twitterLink = Model.Data.Get<string>("twitter");
    var rssLink = Model.Data.Get<string>("rss");
    var emailLink = Model.Data.Get<string>("email");
}
    <div class="social-links-list">
        @if (!string.IsNullOrEmpty(linkedinLink))
        {
            <a href="@linkedinLink" title="LinkedIn">
                <svg alt="LinkedIn" class="social-link" fill="@linkedinColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#linkedin" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(facebookLink))
        {
            <a href="@facebookLink" title="Facebook">
                <svg alt="Facebook" class="social-link" fill="@facebookColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#facebook" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(pinterestLink))
        {
            <a href="@pinterestLink" title="Pinterest">
                <svg alt="Pinterest" class="social-link" fill="@pinterestColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#pinterest" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(redditLink))
        {
            <a href="@redditLink" title="Reddit">
                <svg alt="Reddit" class="social-link" fill="@redditColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#reddit" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(githubLink))
        {
            <a href="@githubLink" title="GitHub">
                <svg alt="GitHub" class="social-link" fill="@githubColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#github" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(youtubeLink))
        {
            <a href="@youtubeLink" title="YouTube">
                <svg alt="YouTube" class="social-link" fill="@youtubeColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#youtube" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(nugetLink))
        {
            <a href="@nugetLink" title="Nuget">
                <svg alt="Nuget" class="social-link" fill="@nugetColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#nuget" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(twitterLink))
        {
            <a href="@twitterLink" title="Twitter">
                <svg alt="Twitter" class="social-link" fill="@twitterColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#twitter" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(rssLink))
        {
            <a href="@rssLink" title="RSS">
                <svg alt="RSS" class="social-link" fill="@rssColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#rss" />
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(emailLink))
        {
            <a href="mailto:@emailLink" title="e-mail">
                <svg alt="e-mail" class="social-link" fill="@emailColor" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="/_assets/images/social-links.svg#email" />
                </svg>
            </a>
        }
    </div>